.skills-section h1{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 105px;
}


.language-title{
    font-family: Ubuntu;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    text-shadow: none;
    position: relative;
    left: 95px;
    bottom: 95px;
}





progress{
    position: relative;
    -webkit-appearance: none;
    height: 25px;
    width: 200px;
    border: 3px solid black;
    left: 95px;
    bottom: 88px;
}

::-webkit-progress-bar {
    background-color: white;
  }

::-webkit-progress-value{
    background-color: #ff5722;
}





.css-bar{
    box-sizing: border-box;
    -webkit-appearance: none;
    height: 25px;
    width: 200px;
    border: 3px solid black;
}

.css-bar::-webkit-progress-bar {
    background-color: white;
  }

.css-bar::-webkit-progress-value{
    background-color: #2196f3;
}

.javascript-bar{
    box-sizing: border-box;
    -webkit-appearance: none;
    height: 25px;
    width: 200px;
    border: 3px solid black;
}

.javascript-bar::-webkit-progress-bar{
    background-color: white;
}

.javascript-bar::-webkit-progress-value{
    background-color: #ffda3e;
}



.c-bar{
    box-sizing: border-box;
    -webkit-appearance: none;
    height: 25px;
    width: 200px;
    border: 3px solid black;
}

.c-bar::-webkit-progress-bar {
    background-color: white;
  }

.c-bar::-webkit-progress-value{
    background-color: #a8b9cc;
}


.php-bar{
    box-sizing: border-box;
    -webkit-appearance: none;
    height: 25px;
    width: 200px;
    border: 3px solid black;
}

.php-bar::-webkit-progress-bar {
    background-color: white;
  }

.php-bar::-webkit-progress-value{
    background-color: #8f9ed1;
}

.skills-title{
    padding: 45px;
    text-align: center;
}


.block{
    display: inline-block;
    padding: 40px;
    width: 300px;
    height: 100px;
}

.block-right{
    display: inline-block;
    padding: 40px;
    float: right;
    width: 300px;
    height: 100px;
}

.format-skills{
    margin: 0 auto;
    width: 920px;
}

